%btn {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 99px;
  padding: 10px 30px;
  width: fit-content;
  transition: background-color 0.4s linear;
  &:hover {
    color: white;
    background-color: black;
  }
}
